@page
@inject IViewLocalizer Localizer


<h3>@Localizer["Question1"]</h3>
<a asp-page="">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/blank.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <strong>@Localizer["Similar"]</strong>
        </figure>
    </div>
</a>
<a asp-page="AllObjective">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/blank.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
            <strong>@Localizer["Compare"]</strong>
        </figure>
    </div>
</a>
<a asp-page="">
    <div class="col-sm-3 mrgn-bttm-md">
        <figure>
            <img src="~/img/CCGMember/blank.jpg" alt="" class="img-responsive thumbnail mrgn-bttm-sm" />
        <strong>@Localizer["Available"]</strong>
        </figure>
    </div>
</a>
