@page
@model Admin.Pages.Classifications.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Classifications</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<p>
    <label name="Filter" class="control-label"><b>Filter</b></label>
    <input name="Filter" class="form-control" />
</p>

<table class="table">
    <thead>
        <tr>
            <th width="42%"><b>Title English</b></th>
            <th width="42%"><b>Title French</b></th>
            <th width="16%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobGroups)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFre)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

