@page
@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error / Erreur</h1>
<h2 class="text-danger">An error occurred while processing your request. Please try again later. / Une erreur s'est produite lors du traitement de votre demande. Veuillez réessayer plus tard.</h2>

