@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row align-items-center">
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Certificates</h5>
                    <p class="card-text">Click here to create, view or edit certificates and certificate descriptions.</p>
                    <a href="./Certificates" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Competencies</h5>
                    <p class="card-text">Click here to create, view or edit competencies and competency level descriptions.</p>
                    <a href="./Competencies" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Positions</h5>
                    <p class="card-text">Click here to create, view or edit job positions within the CCG.</p>
                    <a href="./Positions" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Similar Positions</h5>
                    <p class="card-text">Click here to create similar positions by selecting and editing similar positions for each of the matching scores; 100%, 90%, 80% and 70%.</p>
                    <a href="./Similar" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>
