@page
@model Admin.Pages.Competencies.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>@Model.Competency.TypeNameEng.Substring(0, Model.Competency.TypeNameEng.IndexOf(" ")) Competency</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Competency.Id" />
            <input type="hidden" asp-for="Competency.TypeId" />
            <div class="form-group">
                <label asp-for="Competency.NameEng" class="control-label"><b>Name English</b></label>
                <input asp-for="Competency.NameEng" class="form-control" />
                <span asp-validation-for="Competency.NameEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competency.NameFre" class="control-label"><b>Name French</b></label>
                <input asp-for="Competency.NameFre" class="form-control" />
                <span asp-validation-for="Competency.NameFre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competency.DescEng" class="control-label"><b>Description English</b></label>
                <textarea asp-for="Competency.DescEng" class="form-control" rows="6" cols="50"></textarea>
                <span asp-validation-for="Competency.DescEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competency.DescFre" class="control-label"><b>Description French</b></label>
                <textarea asp-for="Competency.DescFre" class="form-control" rows="6" cols="50"></textarea>
                <span asp-validation-for="Competency.DescFre" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level1DescEng" class="control-label"><b>Level 1 - English</b></label>
                    <textarea asp-for="Competency.Level1DescEng" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level1DescEng" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level1DescFre" class="control-label"><b>Level 1 - French</b></label>
                    <textarea asp-for="Competency.Level1DescFre" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level1DescFre" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level2DescEng" class="control-label"><b>Level 2 - English</b></label>
                    <textarea asp-for="Competency.Level2DescEng" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level2DescEng" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level2DescFre" class="control-label"><b>Level 2 - French</b></label>
                    <textarea asp-for="Competency.Level2DescFre" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level2DescFre" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level3DescEng" class="control-label"><b>Level 3 - English</b></label>
                    <textarea asp-for="Competency.Level3DescEng" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level3DescEng" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level3DescFre" class="control-label"><b>Level 3 - French</b></label>
                    <textarea asp-for="Competency.Level3DescFre" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level3DescFre" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level4DescEng" class="control-label"><b>Level 4 - English</b></label>
                    <textarea asp-for="Competency.Level4DescEng" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level4DescEng" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level4DescFre" class="control-label"><b>Level 4 - French</b></label>
                    <textarea asp-for="Competency.Level4DescFre" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level4DescFre" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level5DescEng" class="control-label"><b>Level 5 - English</b></label>
                    <textarea asp-for="Competency.Level5DescEng" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level5DescEng" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Competency.Level5DescFre" class="control-label"><b>Level 5 - French</b></label>
                    <textarea asp-for="Competency.Level5DescFre" class="form-control" rows="3" cols="45"></textarea>
                    <span asp-validation-for="Competency.Level5DescFre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group space-btns padding-top">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-secondary" href="/Competencies/Details?id=@Model.Competency.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="List" asp-route-typeid="@Model.Competency.TypeId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
