@page
@model Admin.Pages.Competencies.IndexModel
@{
    ViewData["Title"] = "Competencies";
}


<div class="container">
    <div class="row align-items-center">
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Add a new Competency</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Competencies/Create" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Knowledge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Competencies/Knowledge/Index" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Technical</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Competencies/Technical" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Behavioural</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Competencies/Behavioural" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Executive</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="Competencies/Executive" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div style="width: 20rem;">
                
            </div>
        </div>
    </div>
</div>