@page
@model Admin.Pages.Competencies.IndexModel
@{
    ViewData["Title"] = "Competencies";
}


<div class="container">
    <div class="row align-items-center">
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Add a new Competency</h5>
                    <p class="card-text">Click here to create a new competency and levels</p>
                    <a href="./Competencies/Create" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Knowledge</h5>
                    <p class="card-text">Click here to create, edit or delete a Knowledge Element and it's levels</p>
                    <a asp-page="List" asp-route-typeid="1" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Technical</h5>
                    <p class="card-text">Click here to create, edit or delete a Technical Element and it's levels</p>
                    <a asp-page="List" asp-route-typeid="2" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Behavioural</h5>
                    <p class="card-text">Click here to create, edit or delete a Behavioural Element and it's levels</p>
                    <a asp-page="List" asp-route-typeid="3" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Executive</h5>
                    <p class="card-text">Click here to create, edit or delete an Executive Element and it's levels</p>
                    <a asp-page="List" asp-route-typeid="4" class="btn btn-primary">Next</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-3">
            <div style="width: 20rem;">

            </div>
        </div>
    </div>
</div>