@page "/counter"

<Title>Counter - @Resources.Shared.Wet.AppTitle</Title>
<Breadcrumb><li><a href="#">Counter</a></li></Breadcrumb>

<h2>Counter</h2>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
