@page
@model ErrorModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["message"]</h2>



