@page "/"

<Title>Home - @Resources.Shared.Wet.AppTitle</Title>

<Breadcrumb><li><a href="#">Index</a></li></Breadcrumb>

<h1 property="name" id="wb-cont">@Resources.Shared.GcWeb.AppTitle</h1>
<p><strong>@((MarkupString)Resources.Shared.GcWeb.gc_byline)</strong></p>

<section>
    <ul>
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="counter">Counter</NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="fetchdata">Fetch data</NavLink>
        </li>
    </ul>
</section>

<div class="pagedetails">
    <dl id="wb-dtmd">
        <dt>@Resources.Shared.GcWeb.DateModified</dt>
        <dd><time property="dateModified">2017-09-29</time></dd>
    </dl>
</div>

@code
{
    string Breadcrumb = "test";
}
