@page
@model Admin.Pages.Positions.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>POSITION/POSTE</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobPosition.Id" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#f2f2f2">POSITION/POSTE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="JobPosition.TitleEng" class="control-label"><b>Name English</b></label>
                                <input asp-for="JobPosition.TitleEng" class="form-control" />
                                <span asp-validation-for="JobPosition.TitleEng" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobPosition.TitleFre" class="control-label"><b>Name French</b></label>
                                <input asp-for="JobPosition.TitleFre" class="form-control" />
                                <span asp-validation-for="JobPosition.TitleFre" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="JobPosition.PositionDescEng" class="control-label"><b>Description English</b></label>
                                <input asp-for="JobPosition.PositionDescEng" class="form-control" />
                                <span asp-validation-for="JobPosition.PositionDescEng" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobPosition.PositionDescFre" class="control-label"><b>Description French</b></label>
                                <input asp-for="JobPosition.PositionDescFre" class="form-control" />
                                <span asp-validation-for="JobPosition.PositionDescFre" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
