@page
@model Admin.Pages.Positions.EditModel
@using Admin.Data.PartialModels
@using Business.Dtos.JobCompetencies

@{
    ViewData["Title"] = "Edit";

    var routedata = Model.GetRouteData();
}

<h1>Edit</h1>

<h4>POSITION / POSTE</h4>
<hr />

<div class="space-tables-vertically">
    <div class="row">
        <div class="col-md-12">
            <form method="post" class="trimFormWhenSubmitting">
                <input type="hidden" asp-for="JobPosition.Id" />

                <partial name="_Position" model="Model" />

                <div class="form-group space-btns">
                    <button class="btn btn-primary" asp-page-handler="create" asp-all-route-data="routedata">Save Changes</button>
                    <a class="btn btn-info" href="/Positions/Create?id=@Model.Id"
                    data-toggle="tooltip" title="Create a new position with the same details as current selection">Save a Copy</a>
                    <a class="btn btn-secondary" href="/Positions/Details?positionid=@Model.Id">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

