@page
@inject IViewLocalizer Localizer
@{
}
<section role="contentinfo">
    <div class="col-md-12">
        <h2>@Localizer["Q1"]</h2>
        <div class="row">
            <div class="col-sm-3">
                <figure>
                    <a class="nav-link" asp-page="Deck/PositionList">
                        <img src="~/img/CCGMember/SC.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Deck"]</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure>
                    <a asp-page="Engineering/PositionList">
                        <img src="~/img/CCGMember/Oiler.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Engineering"]</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure>
                    <a asp-page="Logistics/PositionList">
                        <img src="~/img/CCGMember/GS.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Logistics"]</h4></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

