@page
@model Web.Pages.Mockups.External.External_SeagoingModel
@inject IViewLocalizer Localizer
@{
}
<section role="contentinfo">
    
        <h2>@Localizer["Q1"]</h2>
        
            <div class="col-sm-6">
                <figure>
                    <a class="nav-link" href="Ship_Officer">
                        <img src="~/img/CCGMember/SO.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Officer"]</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-6">
                <figure>
                    <a href="Ship_Crew">
                        <img src="~/img/CCGMember/SC.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Crew"]</h4></figcaption>
                </figure>
            </div>
            <div class="row">
                <div class="col-lg-12 mrgn-bttm-md">
                    <nav role="navigation" class="mrgn-bttm-lg">
                        <h2 class="wb-inv">Document navigation</h2>
                        <ul class="pager">
                            <li class="previous"><a href="External_Candidate" class="btn btn-default" type="button" rel="prev">Previous</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
  
</section>
