@page
@model Web.Pages.Mockups.External.MAO11_144_DetailsModel
@{
}

<div class="col-md-12 mrgn-tp-md mrgn-bttm-md">
    <a href="#"><span class="glyphicon glyphicon-print pull-right mrgn-lft-md" title="Print PDF" alt="Print document"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-save pull-right" title="Save PDF" alt="Save document"></span> </a>
</div>

<div class="col-md-12 mrgn-tp-md mrgn-bttm-md">
    <div class="col-md-9"><h3>Would you like to compare or find similar positions to the position below?</h3></div>
    <div class="col-md-3 mrgn-tp-lg"><a href="Crew_Compare" class="btn btn-primary mrgn-lft-md" type="button">Compare</a> <a href="Similar_Positions" class="btn btn-primary mrgn-rght-md" type="button">Similar</a></div>
</div>

<div class="mrgn-tp-lg">
    <table class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th class="bg-primary" colspan="2"><h4 class="mrgn-bttm-0 mrgn-tp-0">POSITIONS DETAILS: SO-MAO-11 Commanding Officer</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2" style="background-color:#f2f2f2">CERTIFICATES</th>
            </tr>
            <tr>
                <td colspan="2">Restricted Operator Certificate-Maritime Commerical (ROC-MC)</td>
            </tr>
            <tr>
                <td colspan="2">Master, Near Coastal (or Master Mariner depending on voyage)</td>
            </tr>
            <tr>
                <th style="background-color:#f2f2f2">KNOWLEDGE ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>
                    <a href="#1" aria-controls="centred-popup" class="wb-lbx" role="button">Organizational Knowledge</a>
                    <section id="1" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Organizational Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the Canadian Coast Guard organization, partners, and relationships with Fisheries and Oceans Canada (DFO), and other internal and external stakeholders.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="2" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of a unit in the Coast Guard organization chart and its reporting relationships.</p>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#3" aria-controls="centred-popup" class="wb-lbx" role="button">Program Knowledge and Application</a>
                    <section id="3" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Program Knowledge and Application</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the programs the Canadian Coast Guard manages and supports. Understands the services and delivery of program mandates:  Search and Rescue (SAR), Icebreaking (IB), Aids to Navigation (AtoN), Environmental Response (ER), Conservation and Protection (DFO C&P), Oceanography (DFO Science) and Fisheries Research (DFO Science).</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#4" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="4" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of the Coast Guard and its role as an enabler of various programs.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#5" aria-controls="centred-popup" class="wb-lbx" role="button">Marine Domain Awareness Knowledge</a>
                    <section id="5" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Marine Domain Awareness Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the programs the Canadian Coast Guard manages and supports. Understands the services and delivery of program mandates:  Search and Rescue (SAR), Icebreaking (IB), Aids to Navigation (AtoN), Environmental Response (ER), Conservation and Protection (DFO C&P), Oceanography (DFO Science) and Fisheries Research (DFO Science).</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#6" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="6" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of the Coast Guard and its role as an enabler of various programs.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#7" aria-controls="centred-popup" class="wb-lbx" role="button">Deck Management Knowledge</a>
                    <section id="7" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Deck Management Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the programs the Canadian Coast Guard manages and supports. Understands the services and delivery of program mandates:  Search and Rescue (SAR), Icebreaking (IB), Aids to Navigation (AtoN), Environmental Response (ER), Conservation and Protection (DFO C&P), Oceanography (DFO Science) and Fisheries Research (DFO Science).</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#8" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 4 Summary">4</abbr></a>
                    <section id="8" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 4</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of the Coast Guard and its role as an enabler of various programs.</p>
                        </div>
                    </section>
                </td>
            </tr>


            <tr>
                <th style="background-color:#f2f2f2">TECHNICAL ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>
                    <a href="#9" aria-controls="centred-popup" class="wb-lbx" role="button">Bridge Management</a>
                    <section id="9" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Bridge Management</h2>
                        </header>
                        <div class="modal-body ">
                            <p>The management of a bridge watch to con vessels confidently and safely under various conditions and be able to make a more effective contribution to the bridge team during ship maneuvering in all conditions. Elements include navigation, radar, plotting, vessel handling, emergency management, collision avoidance, and watchkeeping protocols.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#10" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">4</abbr></a>
                    <section id="10" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 4</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic use of navigational principles. Stands a steering watch and plots speed, distance, and time calculations, along pre-established routes. Studies charts and corrections. Researches weather and tide information. Observes traffic.</p>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <td>Problem Solving</td>
                <td class="text-center">1</td>
            </tr>
            <tr>
                <th style="background-color:#f2f2f2">BEHAVIOURAL ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>Demonstrating Integrity and Respect</td>
                <td class="text-center">1</td>
            </tr>
            <tr>
                <td>Thinking Things Through</td>
                <td class="text-center">1</td>
            </tr>
            <tr>
                <td>Working Effectively With Others</td>
                <td class="text-center">1</td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-lg-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">

                <h2 class="wb-inv">Document navigation</h2>

                <ul class="pager">
                    <li class="previous"><a href="Nav_Officer" rel="prev">Previous</a></li>
                </ul>

            </nav>
        </div>
    </div>

</div>
