@page
@model Web.Pages.Mockups.External.Similar_ListModel
@{
}

<div class="col-md-12 mrgn-tp-md mrgn-bttm-md">
    <a href="#print"><span class="glyphicon glyphicon-print pull-right mrgn-lft-md" alt="Print document"></span> </a>
    <a href="#save"><span class="glyphicon glyphicon-save pull-right" alt="Save document"></span> </a>
</div>
<div class="mrgn-tp-lg">
    <h3 class="text-center">SIMILAR POSITIONS</h3>
    <table class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th class="bg-primary" width="15%">LEVEL</th>
                <th class="bg-primary" width="75%">POSITIONS</th>
                <th class="bg-primary" width="10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CS-02</td>
                <td>Computer Systems</td>
                <td><a asp-page="Similar_Details" role="button">More Details</a></td>
            </tr>
            <tr>
                <td>EC-03</td>
                <td>Economic and Policy Analyst</td>
                <td><a asp-page="Similar_Details" role="button">More Details</a></td>
            </tr>
            <tr>
                <td>EG 04</td>
                <td>Aids to Navigation (AtoN) Design</td>
                <td><a asp-page="Similar_Details" role="button">More Details</a></td>
            </tr>
            <tr>
                <td>GL-COI-10</td>
                <td>Assistant Facility, Manager</td>
                <td><a asp-page="Similar_Details" role="button">More Details</a></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a href="Similar_Positions" class="btn btn-default" type="button" rel="prev">Previous</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>