@page
@model Web.Pages.Mockups.External.Similar_PositionsModel
@{
}

<section role="contentinfo">

    <h1>Similar Position Search</h1>

    <h4>Select all or some of the competencies and ratings below to obtain positions similar to your selected position</h4>
    <hr />

    <div class="col-lg-12">
        <div class="mrgn-bttm-lg">
            <table class="table dataTable table-responsive">
                <thead>
                    <tr class="bg-warning">
                        <th width="75%">CERTIFICATIONS</th>
                        <th class="text-center" width="25%">SAME CERTIFICATIONS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-warning">No Certifications Found</td>
                        <td class="text-center bg-warning"><input type="checkbox" name="" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mrgn-bttm-lg">
            <table class="table dataTable table-responsive">
                <thead>
                    <tr class="bg-success">
                        <th width="55%">KNOWLEDGE ELEMENTS</th>
                        <th class="text-center" width="15%">SELECTED LEVEL</th>
                        <th class="text-center" width="15%">SAME LEVEL</th>
                        <th class="text-center" width="15%">HIGHER LEVEL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-success">
                            <a href="#1" aria-controls="centred-popup" class="wb-lbx" role="button">Organizational Knowledge</a>
                            <section id="1" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Organizational Knowledge</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Knowledge of the Canadian Coast Guard organization, partners, and relationships with Fisheries and Oceans Canada (DFO), and other internal and external stakeholders.</p>
                                    <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success">
                            <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                            <section id="2" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Selected Position Level: 2</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                                    <p>Limited knowledge of the Coast Guard's mandate and its relationship with Fisheries and Oceans Canada (DFO). Understands the organization's directorates regionally and/or nationally. </p>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">
                            <a href="#3" aria-controls="centred-popup" class="wb-lbx" role="button">Program Knowledge and Application</a>
                            <section id="3" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Program Knowledge and Application</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Knowledge of the programs the Canadian Coast Guard manages and supports. Understands the services and delivery of program mandates:  Search and Rescue (SAR), Icebreaking (IB), Aids to Navigation (AtoN), Environmental Response (ER), Conservation and Protection (DFO C&P), Oceanography (DFO Science) and Fisheries Research (DFO Science).</p>
                                    <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success">
                            <a href="#4" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                            <section id="4" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Selected Position Level: 2</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                                    <p>Limited knowledge of the Coast Guard's functions and the roles and responsibilities of key Coast Guard contacts within a regional organizational setting. Understands some programs and assets well.</p>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">
                            <a href="#5" aria-controls="centred-popup" class="wb-lbx" role="button">Administrative Knowledge</a>
                            <section id="5" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Administrative Knowledge</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Understanding of administrative procedures and processes in one or more area of responsibility.</p>
                                    <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success">
                            <a href="#6" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                            <section id="6" class="mfp-hide modal-dialog modal-content overlay-def">
                                <header class="modal-header">
                                    <h2 class="modal-title">Selected Position Level: 2</h2>
                                </header>
                                <div class="modal-body ">
                                    <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                                    <p>Recognizes when administration requirements are met. Understands systems and software pertaining to administrative functions and where applicable, the shipboard logistics functions in the performance of duties.</p>
                                </div>
                            </section>
                        </td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mrgn-bttm-lg">
            <table class="table dataTable table-responsive">
                <thead>
                    <tr class="bg-success">
                        <th width="55%">TECHNICAL ELEMENTS</th>
                        <th class="text-center" width="15%">SELECTED LEVEL</th>
                        <th class="text-center" width="15%">SAME LEVEL</th>
                        <th class="text-center" width="15%">HIGHER LEVEL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-success">Project/Program Management</td>
                        <td class="text-center bg-success">1</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">Planning and Prioritizing</td>
                        <td class="text-center bg-success">2</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">Financial Management for Specialists</td>
                        <td class="text-center bg-success">2</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mrgn-bttm-lg">
            <table class="table dataTable table-responsive">
                <thead>
                    <tr class="bg-success">
                        <th width="55%">BEHAVIOURAL ELEMENTS</th>
                        <th class="text-center" width="15%">SELECTED LEVEL</th>
                        <th class="text-center" width="15%">SAME LEVEL</th>
                        <th class="text-center" width="15%">HIGHER LEVEL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-success">Demonstrating Integrity and Respect</td>
                        <td class="text-center bg-success">2</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">Thinking Things Through</td>
                        <td class="text-center bg-success">2</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td class="bg-success">Working Effectively with Others</td>
                        <td class="text-center bg-success">2</td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                        <td class="text-center bg-success"><input type="checkbox" name="" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3 pull-left">
            <nav role="navigation">
                <h2 class="wb-inv">Document navigation</h2>
                <ul class="pager">
                    <li class="previous"><a class="btn btn-default" type="button" rel="prev" href="Crew_Deckhand">Previous</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-3 pull-right mrgn-tp-lg">
            <a asp-page="Similar_List" class="btn btn-primary pull-right" role="button">Search Positions</a>
        </div>
</section>