@page
@model Web.Pages.Mockups.Student.HS_MCTS_DetailsModel

@{
}

<div class="col-md-12 mrgn-tp-md mrgn-bttm-md">
    <a href="#print"><span class="glyphicon glyphicon-print pull-right mrgn-lft-md" alt="Print document"></span> </a>
    <a href="#save"><span class="glyphicon glyphicon-save pull-right" alt="Save document"></span> </a>
</div>

<div class="col-sm-8 col-sm-offset-2 well text-center ">
    <h4>Professional Development Apprenticeship Programs (PDAP)</h4>
    <p><a rel="external" target="_blank" href="https://www.ccg-gcc.gc.ca/college/MCTS-training-formation-SCTM/index-eng.html">https://www.ccg-gcc.gc.ca/college/MCTS-training-formation-SCTM/index-eng.html</a></p>
</div>
    <div class="mrgn-tp-lg">
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th class="bg-primary" colspan="2">POSITION: RO-03 Marine Communications and Traffic Services (MCTS)</th>
                </tr>
            </thead>
            <tbody>

                <tr><th colspan="2" style="background-color:#f2f2f2">CERTIFICATES</th></tr>
                <tr><td colspan="2">No certifications</td></tr>
            </tbody>
        </table>

        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th width="80%" style="background-color:#f2f2f2">KNOWLEDGE ELEMENTS</th>
                    <th width="20%" class="text-center" style="background-color:#f2f2f2">LEVEL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#1" aria-controls="centred-popup" class="wb-lbx" role="button">Organizational Knowledge</a>
                        <section id="1" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Organizational Knowledge</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Knowledge of the Canadian Coast Guard organization, partners, and relationships with Fisheries and Oceans Canada (DFO), and other internal and external stakeholders.</p>
                                <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                            </div>
                        </section>
                    </td>
                    <td class="text-center">
                        <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                        <section id="2" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Position Level: 1</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                                <p>Basic knowledge of a unit in the Coast Guard organization chart and its reporting relationships.</p>
                            </div>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#3" aria-controls="centred-popup" class="wb-lbx" role="button">Administration Knowledge</a>
                        <section id="3" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Administration Knowledge</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Understanding of administrative procedures and processes in one or more area of responsibility.</p>
                                <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                            </div>
                        </section>
                    </td>
                    <td class="text-center">
                        <a href="#4" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                        <section id="4" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Position Level: 1</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                                <p>Understands basic administrative tasks and rules as they relate to a position. Recognizes the need to have supervisor approve requests where applicable</p>
                            </div>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th width="80%" style="background-color:#f2f2f2">TECHNICAL ELEMENTS</th>
                    <th width="20%" class="text-center" style="background-color:#f2f2f2">LEVEL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#5" aria-controls="centred-popup" class="wb-lbx" role="button">Support Services</a>
                        <section id="5" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Support Services</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Provides a high standard of service to Canadian Coast Guard members and other stakeholders.</p>
                                <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                            </div>
                        </section>
                    </td>
                    <td class="text-center">
                        <a href="#6" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                        <section id="6" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Position Level: 1</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                                <p>Employs a fair and non-partisan approach in the delivery of services. Supports others in managing their tasks/responsibilities by providing timely information or resources. Accurately determines where to direct inquiries.</p>
                            </div>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#7" aria-controls="centred-popup" class="wb-lbx" role="button">Planning and Prioritizing</a>
                        <section id="7" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Planning and Prioritizing</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Integrates various ideas, intentions, and information to form effective goals, objectives, timelines, action plans, and solutions.</p>
                                <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                            </div>
                        </section>
                    </td>
                    <td class="text-center">
                        <a href="#8" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                        <section id="8" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Position Level: 1</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                                <p>Monitors the quality and timeliness of individual responsibilities using the available resources, searching for clarity as needed.</p>
                            </div>
                        </section>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover table-responsive table-bordered">
            <thead>
                <tr>
                    <th width="80%" style="background-color:#f2f2f2">BEHAVIOURAL ELEMENTS</th>
                    <th width="20%" class="text-center" style="background-color:#f2f2f2">LEVEL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#9" aria-controls="centred-popup" class="wb-lbx" role="button">Demonstrating Integrity and Respect</a>
                        <section id="9" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Demonstrating Integrity and Respect</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Honours commitments and consistently strives to act in the public interest by ensuring that public trust and the law are not violated, while avoiding conflicts of interest and maintaining political and interpersonal neutrality.</p>
                                <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                            </div>
                        </section>
                    </td>
                    <td class="text-center">
                        <a href="#10" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                        <section id="10" class="mfp-hide modal-dialog modal-content overlay-def">
                            <header class="modal-header">
                                <h2 class="modal-title">Position Level: 1</h2>
                            </header>
                            <div class="modal-body ">
                                <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                                <p>Reads the Government of Canada's Values and Ethics Code. Behaves consistently with the Values and Ethics Code and seeks appropriate guidance when required.</p>
                            </div>
                        </section>
                    </td>
                </tr>
                <tr>
                    <td>Thinking Things Through</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Working Effectively With Others</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Showing Initiative and Being Action Oriented</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Apply Safety Considerations</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Leadership</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <td>Canadian Coast Guard Cultural Awareness</td>
                    <td class="text-center">1</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-12 mrgn-bttm-md">
                <nav role="navigation" class="mrgn-bttm-lg">
                    <h2 class="wb-inv">Document navigation</h2>
                    <ul class="pager">
                        <li class="previous"><a href="HS_Admin_List" class="btn btn-default" type="button" rel="prev">Previous</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
