@page
@model Admin.Pages.Certificates.Descriptions.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificate Description</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Certificate.Id" />
            <div class="form-group">
                <label asp-for="Certificate.DescEng" class="control-label"></label>
                <textarea asp-for="Certificate.DescEng" class="form-control" required></textarea>
                <span asp-validation-for="Certificate.DescEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certificate.DescFre" class="control-label"></label>
                <textarea asp-for="Certificate.DescFre" class="form-control" required></textarea>
                <span asp-validation-for="Certificate.DescFre" class="text-danger"></span>
            </div>

            <div class="form-group space-btns medium-margin-top padding-top">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-secondary" href="/Certificates/Descriptions/Details?id=@Model.Certificate.Id">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


