@using System.Threading
@inherits LayoutComponentBase
@inject IStringLocalizer<GcWeb> L


<GcWebHeader />
<main property="mainContentOfPage" class="container" typeof="WebPageElement">
    @Body
</main>
<GcWebFooter />


@code {
    private string _languageKey;
    protected override Task OnInitializedAsync()
    {
        _languageKey = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;

        return Task.CompletedTask;
    }

}
