<ul class="list-inline menu" role="menubar">
    <li>
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="counter">Counter</NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="fetchdata">Fetch data</NavLink>
    </li>
</ul>

@code {

}
