@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
@if (isEnglish) {
    <nav role="navigation" id="wb-sm" data-ajax-fetch="/ajax/sitemenu-ccg-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
        <div class="container nvbar">
            <h2>Topics menu</h2>
            <div class="row">
                <ul class="list-inline menu">
                    <li><a href="/en/Mockups/Index">Career Competency Tool</a></li>
                    <li><a href="/en/Mockups/member_position">CCG Member</a></li>
                    <li><a href="/en/Mockups/External_Candidate">External Candidate</a></li>
                    <li><a href="/en/Mockups/Student">Student</a></li>
                </ul>
            </div>
        </div>
    </nav>
}
else
{
    <nav role="navigation" id="wb-sm" data-ajax-fetch="/ajax/sitemenu-ccg-fr.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
        <div class="container nvbar">
            <h2>Menu des sujets</h2>
            <div class="row">
                <ul class="list-inline menu">
                    <li><a href="/fr/Mockups/Index">Outil de compétence professionnelle</a></li>
                    <li><a href="/fr/Mockups/member_position">Membre de la GCC</a></li>
                    <li><a href="/fr/Mockups/External_Candidate">Candidat externe</a></li>
                    <li><a href="/fr/Mockups/Student">Étudiant</a></li>
                </ul>
            </div>
        </div>
    </nav>
}