@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
@if (isEnglish)
{
    <footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
        <div class="container">
            <nav role="navigation">
                <h2>About this site</h2>
                <ul id="gc-tctr" class="list-inline">
                    <li><a rel="license" href="https://www.dfo-mpo.gc.ca/terms-conditions-avis-eng.htm" alt="Link to Terms and Conditions" target="_blank">Terms and conditions</a></li>
                    <li><a href="https://www.dfo-mpo.gc.ca/transparency-transparence/index-eng.htm" alt="Link to the transparency page" target="_blank">Transparency</a></li>
                </ul>
                <div class="row">
                    <section class="col-sm-3">
                        <h3><a href="/en/Contact" alt="Link to contact the CCG">Contact us</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="/en/Contact" alt="Link to send us your questions or comments">Questions or comments?</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/index-eng.html" alt="Link to learn more about the CCG" target="_blank">About us</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/mandate-mandat-eng.html" alt="Link to CCG organization" target="_blank">Our organization</a></li>
                            <li><a href="https://www.ccg-gcc.gc.ca/careers-carrieres/index-eng.html" alt="Link to CCG Careers" target="_blank">Jobs and careers</a></li>
                            <li><a href="https://www.ccg-gcc.gc.ca/publications/index-eng.html" alt="Link to CCG Publications" target="_blank">Publications</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.canada.ca/en/news/advanced-news-search/news-results.html?_=1538673600620&dprtmnt=canadiancoastguard&start=&end" alt="Link to CCG News" target="_blank">News</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.canada.ca/en/news/advanced-news-search/news-results.html?typ=newsreleases&dprtmnt=canadiancoastguard&start=&end=" alt="Link to CCG latest news releases" target="_blank">News releases</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/stay-connected-restez-branches-eng.html" target="_blank">Stay connected</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/CanadianCoastGuard" alt="Link to CCG on Facebook" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/CoastGuardCAN" alt="Link to CCG on Twitter" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/user/CCGrecruitmentGCC" alt="Link to CCG on YouTube" target="_blank">YouTube</a></li>
                            <li><a href="https://www.instagram.com/coastguardcan/" alt="Link to CCG on Instagram" target="_blank">Instagram</a></li>
                        </ul>
                    </section>
                </div>
            </nav>
        </div>
        <div id="gc-info">
            <div class="container">
                <nav role="navigation">
                    <h2>Government of Canada footer</h2>
                    <ul class="list-inline">
                        <li><a href="http://healthycanadians.gc.ca" target="_blank"><span>Health</span></a></li>
                        <li><a href="http://travel.gc.ca" target="_blank"><span>Travel</span></a></li>
                        <li><a href="http://www.servicecanada.gc.ca/eng/home.shtml" target="_blank"><span>Service Canada</span></a></li>
                        <li><a href="http://www.jobbank.gc.ca" target="_blank"><span>Jobs</span></a></li>
                        <li><a href="http://actionplan.gc.ca/en" target="_blank"><span>Economy</span></a></li>
                        <li id="canada-ca"><a href="http://www.canada.ca/en/index.html" target="_blank">Canada.ca</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

}
else
{
    <footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
        <div class="container">
            <nav role="navigation">
                <h2>À propos de ce site</h2>
                <ul id="gc-tctr" class="list-inline">
                    <li><a rel="license" href="https://www.dfo-mpo.gc.ca/terms-conditions-avis-fra.htm" alt="Lien vers les conditions générales" target="_blank">Avis</a></li>
                    <li><a href="https://www.dfo-mpo.gc.ca/transparency-transparence/index-fra.htm" alt="Lien vers la page de transparence" target="_blank">Transparence</a></li>
                </ul>
                <div class="row">
                    <section class="col-sm-3">
                        <h3><a href="/fr/Contact" alt="Lien pour contacter la CCG">Contactez-nous</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="/fr/Contact" alt="Lien pour nous envoyer vos questions ou commentaires">Questions ou commentaires?</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/index-fra.html" alt="Lien pour en savoir plus sur la CCG" target="_blank">À propos de nous</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/mandate-mandat-fra.html" alt="Lien pour en savoir plus sur l'organisation CCG" target="_blank">Notre organisation</a></li>
                            <li><a href="https://www.ccg-gcc.gc.ca/careers-carrieres/index-fra.html" alt="Lien vers les carrières de la GCC" target="_blank">Emplois et carrières</a></li>
                            <li><a href="https://www.ccg-gcc.gc.ca/publications/index-fra.html" alt="Lien vers les publications de la GCC" target="_blank">Publications</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.canada.ca/fr/nouvelles/recherche-avancee-de-nouvelles/resultats-de-nouvelles.html?_=1538673652642&typ=&dprtmnt=canadiancoastguard&mnstr=&start=&end=" alt="Lien vers les nouvelles de la GCC" target="_blank">Nouvelles</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.canada.ca/fr/nouvelles/recherche-avancee-de-nouvelles/resultats-de-nouvelles.html" alt="Lien vers les dernières nouvelles de la GCC" target="_blank">Communiqués</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-3">
                        <h3><a href="https://www.ccg-gcc.gc.ca/corporation-information-organisation/stay-connected-restez-branches-fra.html" target="_blank">Restez branchés</a></h3>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/GardeCotiereCanadienne" alt="Lien vers GCC sur Facebook" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/GardeCotiereCAN" alt="Lien vers GCC sur Twitter" target="_blank">Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UCkgQNPhq4ZKgZd7abZ3BYvw" alt="Lien vers GCC sur YouTube" target="_blank">YouTube</a></li>
                            <li><a href="https://www.instagram.com/gardecotiereCAN/" alt="Lien vers GCC sur Instagram" target="_blank">Instagram</a></li>
                        </ul>
                    </section>
                </div>
            </nav>
        </div>
        <div id="gc-info">
            <div class="container">
                <nav role="navigation">
                    <h2>Pied de page du gouvernement du Canada</h2>
                    <ul class="list-inline">
                        <li><a href="http://canadiensensante.gc.ca" target="_blank"><span>Santé</span></a></li>
                        <li><a href="http://voyage.gc.ca" target="_blank"><span>Voyage</span></a></li>
                        <li><a href="http://www.servicecanada.gc.ca/fra/accueil.shtml" target="_blank"><span>Service Canada</span></a></li>
                        <li><a href="http://www.guichetemplois.gc.ca" target="_blank"><span>Emplois</span></a></li>
                        <li><a href="http://plandaction.gc.ca/fr" target="_blank"><span>Économie</span></a></li>
                        <li id="canada-ca"><a href="http://www.canada.ca/fr/index.html" target="_blank">Canada.ca</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>}


