@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
}
@if (isEnglish)
{
    <nav role="navigation" id="wb-sm" data-ajax-fetch="/ajax/sitemenu-ccg-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
        <div class="container nvbar">
            <h2>Topics menu</h2>
            <div class="row">
                <ul class="list-inline menu">
                    <li><a href="/en/Index">Career Competency Tool</a></li>
                    <li><a href="/en/CCGMember/AllPositions">CCG Member</a></li>
                    <li><a href="/en/Candidate/Index">External Candidate</a></li>
                    <li><a href="/en/Student/Index">Student</a></li>
                    <li><a href="/en/FAQs">FAQs</a></li>
                    <li><a href="/en/Contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
}
else
{
    <nav role="navigation" id="wb-sm" data-ajax-fetch="/ajax/sitemenu-ccg-fr.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
        <div class="container nvbar">
            <h2>Menu des sujets</h2>
            <div class="row">
                <ul class="list-inline menu">
                    <li><a href="/fr/Index" class="item">Outil de compétence professionnelle</a></li>
                    <li><a href="/fr/CCGMember/AllPositions">Membre de la GCC</a></li>
                    <li><a href="/fr/Candidate/Index">Candidat externe</a></li>
                    <li><a href="/fr/Student/Index">Étudiant</a></li>
                    <li><a href="/fr/FAQs">FAQs</a></li>
                    <li><a href="/fr/Contact">Contactez-nous</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
}