@inject IViewLocalizer Localizer
<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
<!--<![endif]-->
<html class="no-js" dir="ltr">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <title>
        @ViewData["Title"] - CCG CCT
    </title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description" content="Web Experience Toolkit (WET) includes reusable components for building and maintaining innovative Web sites that are accessible, usable, and interoperable. These reusable components are open source software and free for use by departments and external Web communities">
    <meta name="dcterms.title" content="Content page - Web Experience Toolkit">
    <meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu">
    <meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)">
    <meta name="dcterms.modified" title="W3CDTF" content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)">
    <meta name="dcterms.subject" title="scheme" content="French subject terms / Termes de sujet en français">
    <meta name="dcterms.language" title="ISO639-2" content="eng"> <!-- Meta data-->
    <!-- Meta data-->
    <!--[if gte IE 9 | !IE ]><!-->
    <link href="~/themes-dist-8.0.1-gcweb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="~/themes-dist-8.0.1-gcweb/GCWeb/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="~/themes-dist-8.0.1-gcweb/GCWeb/assets/favicon.ico" rel="shortcut icon">
         <link rel="stylesheet" href="~/themes-dist-8.0.1-gcweb/GCWeb/css/ie8-theme.min.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="~/themes-dist-8.0.1-gcweb/wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->

    <noscript><link rel="stylesheet" href="/themes-dist-8.0.1-gcweb/wet-boew/css/noscript.min.css" /></noscript>
    <script src="~/themes-dist-8.0.1-gcweb/wet-boew/js/i18n/en.min.js"></script>

</head>
<body vocab="http://schema.org/" typeof="WebPage">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3><a href="https://ccg-cct.azurewebsites.net/en/">CCG Career Competency Tool</a></h3>
                </div>
            </div>
        </div>
    </header>
    <main role="main" property="mainContentOfPage" class="container">

        @RenderBody()

    </main>



    <!--[if gte IE 9 | !IE ]><!-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="~/themes-dist-8.0.1-gcweb/wet-boew/js/wet-boew.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
            <script src="~/themes-dist-8.0.1-gcweb/wet-boew/js/ie8-wet-boew2.min.js"></script>

            <![endif]-->
    <script src="~/themes-dist-8.0.1-gcweb/GCWeb/js/theme.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>