#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.wb-menu h1 {
    color: #fff;
    display: block;
    padding: 10px;
    text-align: left;
    margin: 0;
    border-bottom: 0;
}

.margin-top-none {
    margin: 0 !important;
}

.text-white {
    color: #fff;
}

nav button.text-white:hover,
nav button.text-white:focus,
nav button.text-white:active {
    color: #fff;
}


html.splash, html.splash body, html.splash main, html.splash .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

html.splash .viewport {
    display: flex;
    align-items: center;
    justify-content: center;
}

html.splash .viewport > .child {
    max-width: 50%;
    width: 500px;
}

.form-control {
    width: 100%
}

.bg-info {
    background: #fff8dc;
}

#wb-sm .menu > li form {
}

#wb-sm .menu > li .btn-link {
    color: #fff;
    display: block;
    padding: 1em;
    margin: 0;
    text-align: center;
    width: 100%;
}

#mb-pnl .modal-body #welcome-user {
    color: #fff;
    display: block;
    text-align: right;
}