@page
@model Admin.Pages.Certificates.IndexModel

@{
    ViewData["Title"] = "Certificates";
}

<h2>Certificates</h2>

<p>
    <a class="btn btn-dark" asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <h6>
            Find certificates:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to Full List</a>
        </h6>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Certificate English</th>
            <th>Certificate French</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Certificates)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEng)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameFre)
                </td>
                <td style="width:15%">
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>