@page
@model Web.Pages.Mockups.Crew_LogisticsModel
@{
}
<section role="contentinfo">
    <div class="col-md-12">
        <h3>Which certifications do you currently possess?</h3>
        <form method="post" action="#">
            <div class="form-group">
                <select multiple class="form-control maxwidth " id="dt_certifications" name="dt_certifications">
                    <option value="2">Marine Emergency Duties - Basic Safety</option>
                    <option value="3">Marine Emergency Duties - Survival Craft / Rescue Boats</option>
                    <option value="4">Marine Emergency Duties - Proficiency in Advanced Firefighting</option>
                    <option value="5">Basic First Aid</option>
                    <option value="6">Marine First Aid</option>
                    <option value="7">Advanced Marine First Aid</option>
                    <option value="7">Food Safety Training</option>
                    <option value="7">Ship's Cook or Provincial Standard (Red Seal)</option>
                </select>
            </div>

            <h3>Which competencies and levels to you currently possess?</h3>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr class="bg-primary">
                        <th style="width:50%">KNOWLEDGE ELEMENTS</th>
                        <th style="width:10%">Level 1</th>
                        <th style="width:10%">Level 2</th>
                        <th style="width:10%">Level 3</th>
                        <th style="width:10%">Level 4</th>
                        <th style="width:10%">Level 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dietary Need, Menu Planning, Food Preparation, and Sanitation Knowledge</td>
                        <td><input type="radio" name="Dietary" value="" /></td>
                        <td><input type="radio" name="Dietary" value="" /></td>
                        <td><input type="radio" name="Dietary" value="" /></td>
                        <td><input type="radio" name="Dietary" value="" /></td>
                        <td><input type="radio" name="Dietary" value="" /></td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td colspan="4"><input type="text" id="" name="" /></td>
                        <td><button>Add</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr class="bg-primary">
                        <th style="width:50%">TECHNICAL ELEMENTS</th>
                        <th style="width:10%">Level 1</th>
                        <th style="width:10%">Level 2</th>
                        <th style="width:10%">Level 3</th>
                        <th style="width:10%">Level 4</th>
                        <th style="width:10%">Level 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Galley Operations and Food Production</td>
                        <td><input type="radio" name="Food" value="" /></td>
                        <td><input type="radio" name="Food" value="" /></td>
                        <td><input type="radio" name="Food" value="" /></td>
                        <td><input type="radio" name="Food" value="" /></td>
                        <td><input type="radio" name="Food" value="" /></td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td colspan="4"><input type="text" id="" name="" /></td>
                        <td><button>Add</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr class="bg-primary">
                        <th style="width:50%">BEHAVIOURAL ELEMENTS</th>
                        <th style="width:10%">Level 1</th>
                        <th style="width:10%">Level 2</th>
                        <th style="width:10%">Level 3</th>
                        <th style="width:10%">Level 4</th>
                        <th style="width:10%">Level 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Demonstrating Integrity and Respect</td>
                        <td><input type="radio" name="DIR" value="" /></td>
                        <td><input type="radio" name="DIR" value="" /></td>
                        <td><input type="radio" name="DIR" value="" /></td>
                        <td><input type="radio" name="DIR" value="" /></td>
                        <td><input type="radio" name="DIR" value="" /></td>
                    </tr>
                    <tr>
                        <td>Thinking Things Through</td>
                        <td><input type="radio" name="TTT" value="" /></td>
                        <td><input type="radio" name="TTT" value="" /></td>
                        <td><input type="radio" name="TTT" value="" /></td>
                        <td><input type="radio" name="TTT" value="" /></td>
                        <td><input type="radio" name="TTT" value="" /></td>
                    </tr>
                    <tr>
                        <td>Working Effectively With Others</td>
                        <td><input type="radio" name="WEW" value="" /></td>
                        <td><input type="radio" name="WEW" value="" /></td>
                        <td><input type="radio" name="WEW" value="" /></td>
                        <td><input type="radio" name="WEW" value="" /></td>
                        <td><input type="radio" name="WEW" value="" /></td>
                    </tr>
                    <tr>
                        <td>Showing Initiative and Being Action Oriented</td>
                        <td><input type="radio" name="SIB" value="" /></td>
                        <td><input type="radio" name="SIB" value="" /></td>
                        <td><input type="radio" name="SIB" value="" /></td>
                        <td><input type="radio" name="SIB" value="" /></td>
                        <td><input type="radio" name="SIB" value="" /></td>
                    </tr>
                    <tr>
                        <td>Apply Safety Considerations</td>
                        <td><input type="radio" name="ASC" value="" /></td>
                        <td><input type="radio" name="ASC" value="" /></td>
                        <td><input type="radio" name="ASC" value="" /></td>
                        <td><input type="radio" name="ASC" value="" /></td>
                        <td><input type="radio" name="ASC" value="" /></td>
                    </tr>
                    <tr>
                        <td>Leadership</td>
                        <td><input type="radio" name="Lead" value="" /></td>
                        <td><input type="radio" name="Lead" value="" /></td>
                        <td><input type="radio" name="Lead" value="" /></td>
                        <td><input type="radio" name="Lead" value="" /></td>
                        <td><input type="radio" name="Lead" value="" /></td>
                    </tr>
                    <tr>
                        <td>Canadian Coast Guard Cultural Awareness</td>
                        <td><input type="radio" name="CCG" value="" /></td>
                        <td><input type="radio" name="CCG" value="" /></td>
                        <td><input type="radio" name="CCG" value="" /></td>
                        <td><input type="radio" name="CCG" value="" /></td>
                        <td><input type="radio" name="CCG" value="" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">

                <h2 class="wb-inv">Document navigation</h2>

                <ul class="pager">
                    <li class="previous"><a href="Ship_Crew" rel="prev">Previous</a></li>
                    <li class="next"><a href="External_List" rel="next">Next</a></li>
                </ul>

            </nav>
        </div>
    </div>
</section>

