@page
@model Web.Pages.Mockups.External_CandidateModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "External Candidate";
}

<section role="contentinfo">
    <div class="col-md-12">
        <h2>@Localizer["Q1"]</h2>
        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <a class="nav-link" href="External_Shoreside">
                        <img src="~/img/Candidate/shoreside.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Shoreside"]</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure>
                    <a href="External_Seagoing">
                        <img src="~/img/Candidate/Seagoing.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Seagoing"]</h4></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

