@page
@model Web.Pages.Mockups.External_SeagoingModel
@inject IViewLocalizer Localizer
@{
}
<section role="contentinfo">
    <div class="col-md-12">
        <h2>@Localizer["Q1"]</h2>
        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <a class="nav-link" href="Ship_Officer">
                        <img src="~/img/CCGMember/SO.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Officer"]</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure>
                    <a href="Ship_Crew">
                        <img src="~/img/CCGMember/SC.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">@Localizer["Crew"]</h4></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
