@page
@model Web.Pages.Mockups.External_SeagoingModel
@{
}
<section role="contentinfo">
    <div class="col-md-12">
        <h2>Choose from the two positions below?</h2>
        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <a class="nav-link" href="Ship_Officer">
                        <img src="~/img/SO.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">Ships' Officer</h4></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure>
                    <a href="Ship_Crew">
                        <img src="~/img/Ships_Crew.jpg" alt="Photo of" class="img-thumbnail img-responsive mrgn-bttm-sm" />
                    </a>
                    <figcaption><h4 class="text-center">Ships' Crew</h4></figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
