@page
@model Web.Pages.Mockups.Member_Current_positionModel
@{
}

<div class="mrgn-tp-lg">
    <h2>Current Position Details</h2>

        <table class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th class="bg-primary" colspan="2">POSITION DETAILS: SO-MAO 05 Chief Officer (CCGS Eckaloo/Dumit)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2" style="background-color:#f2f2f2">CERTIFICATIONS</th>
            </tr>
            <tr>
                <td colspan="2">Restricted Operator Certificate - Maritime Commercial (ROC-MC)</td>
            </tr>
            <tr>
                <td colspan="2">Watchkeeping Mate, Near Coastal with Master 150GT, Domestic</td>
            </tr>
            <tr>
                <th style="background-color:#f2f2f2">KNOWLEDGE ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>
                    <a href="#1" aria-controls="centred-popup" class="wb-lbx" role="button">Organizational Knowledge</a>
                    <section id="1" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Organizational Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the Canadian Coast Guard organization, partners, and relationships with Fisheries and Oceans Canada (DFO), and other internal and external stakeholders.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#2" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="2" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of a unit in the Coast Guard organization chart and its reporting relationships.</p>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#3" aria-controls="centred-popup" class="wb-lbx" role="button">Program Knowledge and Application</a>
                    <section id="3" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Program Knowledge and Application</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the programs the Canadian Coast Guard manages and supports. Understands the services and delivery of program mandates:  Search and Rescue (SAR), Icebreaking (IB), Aids to Navigation (AtoN), Environmental Response (ER), Conservation and Protection (DFO C&P), Oceanography (DFO Science) and Fisheries Research (DFO Science).</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#4" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="4" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of the Coast Guard and its role as an enabler of various programs.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#5" aria-controls="centred-popup" class="wb-lbx" role="button">Marine Domain Awareness Knowledge</a>
                    <section id="5" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Marine Domain Awareness Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Having true and timely information about everything on, under, related to, adjacent to, or bordering a sea, ocean, or other navigable waterway. This includes all related activities, infrastructure, shipping, vessels, cartography, and natural phenomena. For marine security, it includes being aware of anything in the marine domain that could threaten Canada's national security</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#6" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="6" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice  (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Understands basic traffic patterns for traffic avoidance, observing and reporting weather conditions, and local tides in immediate surroundings. </p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#7" aria-controls="centred-popup" class="wb-lbx" role="button">Deck Management Knowledge</a>
                    <section id="7" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Deck Management Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>The management of a deck watch to ensure safe rigging, lifting, tackle, small craft, helicopter, and cargo loading operations.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#8" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="8" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Practical knowledge of small boat operations of most types, rigging and lifting gear and uses, tackle and tackle registry and stowage, and basic helicopter procedures. Understands hand signals in working with deck crew.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#9" aria-controls="centred-popup" class="wb-lbx" role="button">Operations Knowledge</a>
                    <section id="9" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Operations Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of systems for proper scheduling and tracking of ships' activities to ensure of the best use of the available resources for regular program delivery, as well as during emergency situations.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#10" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                    <section id="10" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 1</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Fundamental Awareness (Common knowledge or an understanding of basic techniques and concepts)</p>
                            <p>Basic knowledge of a unit's role in an operational context.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#11" aria-controls="centred-popup" class="wb-lbx" role="button">Navigational Equipment Standard Operating Procedures Knowledge</a>
                    <section id="11" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Navigational Equipment Standard Operating Procedures Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the steps and safety regulations in preparing equipment for operation, operating equipment, and monitoring.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#12" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">3</abbr></a>
                    <section id="12" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Good understanding/knowledge of equipment operating procedures. Experienced in solving basic and more complex problems. Skillful in identifying problems based on a limited number of clear factors. Diligent in verifying the problem has been solved. Proactively resolves errors/issues and seeks to prevent them from occurring.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#13" aria-controls="centred-popup" class="wb-lbx" role="button">Administration Knowledge</a>
                    <section id="13" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Administration Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Understanding of administrative procedures and processes in one or more area of responsibility.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#14" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="14" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Understands the full range of administration services such as expense forms, reimbursements (travel, stores, etc.) and where applicable items such as ex gratiapayments, timesheets, drafting correspondence and reports, training requests and authorizations, etc.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#15" aria-controls="centred-popup" class="wb-lbx" role="button">Acts and Regulations Knowledge</a>
                    <section id="15" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Acts and Regulations Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>An understanding of the acts and regulations pertinent to operational programs, including their affective clauses, sources, authorities, and impacts on a given program or programs in the Canadian Coast Guard.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#16" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="16" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Understands the full range of administration services such as expense forms, reimbursements (travel, stores, etc.) and where applicable items such as ex gratiapayments, timesheets, drafting correspondence and reports, training requests and authorizations, etc.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#17" aria-controls="centred-popup" class="wb-lbx" role="button">Environmental Response (ER) Knowledge</a>
                    <section id="17" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Environmental Response (ER) Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the ER program mandate, roles, and responsibilities. Knowledge of ER operations, priorities, issues, stakeholders, policies, practices, and procedures. Knowledge of capabilities, duties, and technical skills of the ER team. Knowledge of marine clients and partners as they relate to the ER program.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#18" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="18" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Limited knowledge of the Environmental Response (ER) program's resources such as, spill equipment, maintenance, storage; clean up gear; and containment boom operation.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#19" aria-controls="centred-popup" class="wb-lbx" role="button">Incident Command Systems (ICS) Knowledge</a>
                    <section id="19" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Incident Command Systems (ICS) Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the ER program mandate, roles, and responsibilities. Knowledge of ER operations, priorities, issues, stakeholders, policies, practices, and procedures. Knowledge of capabilities, duties, and technical skills of the ER team. Knowledge of marine clients and partners as they relate to the ER program.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#20" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 2 Summary">2</abbr></a>
                    <section id="20" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 2</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Limited knowledge of the Environmental Response (ER) program's resources such as, spill equipment, maintenance, storage; clean up gear; and containment boom operation.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="#21" aria-controls="centred-popup" class="wb-lbx" role="button">Search and Rescue (SAR) Knowledge</a>
                    <section id="21" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Search and Rescue (SAR) Knowledge</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Knowledge of the ER program mandate, roles, and responsibilities. Knowledge of ER operations, priorities, issues, stakeholders, policies, practices, and procedures. Knowledge of capabilities, duties, and technical skills of the ER team. Knowledge of marine clients and partners as they relate to the ER program.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#22" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="22" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Intermediate (Able to successfully complete the necessary tasks in this competency. Some assistance may still be needed but can usually perform the task independently)</p>
                            <p>Limited knowledge of the Environmental Response (ER) program's resources such as, spill equipment, maintenance, storage; clean up gear; and containment boom operation.</p>
                        </div>
                    </section>
                </td>
            </tr>

            <tr>
                <th style="background-color:#f2f2f2">TECHNICAL ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>
                    <a href="#23" aria-controls="centred-popup" class="wb-lbx" role="button">Life Cycle Asset Management</a>
                    <section id="23" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Life Cycle Asset Management</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Manages a project or program while respecting procedures, operations, policies, and legislation, including inter-relationships with other departments, agencies, or the private sector. Project management involves effectively participating and/or integrating all aspects of a given finite project, ensuring that work progresses towards achieving goals and objectives. Program management involves effectively managing an ongoing activity line.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#24" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 1 Summary">1</abbr></a>
                    <section id="24" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 1</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Respects project/program goals, participants' roles, and the importance of project management principles. Participates in project support activities (i.e. gathering needed information). Participates with others in small and well defined components of the project/program.</p>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#25" aria-controls="centred-popup" class="wb-lbx" role="button">Bridge Management</a>
                    <section id="25" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Bridge Management</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Manages a project or program while respecting procedures, operations, policies, and legislation, including inter-relationships with other departments, agencies, or the private sector. Project management involves effectively participating and/or integrating all aspects of a given finite project, ensuring that work progresses towards achieving goals and objectives. Program management involves effectively managing an ongoing activity line.</p>
                            <button class="btn btn-primary popup-modal-dismiss" type="button">Close</button>
                        </div>
                    </section>
                </td>
                <td class="text-center">
                    <a href="#26" aria-controls="centred-popup" class="wb-lbx"><abbr title="Level 3 Summary">3</abbr></a>
                    <section id="26" class="mfp-hide modal-dialog modal-content overlay-def">
                        <header class="modal-header">
                            <h2 class="modal-title">Position Level: 3</h2>
                        </header>
                        <div class="modal-body ">
                            <p>Novice (A level of experience has been obtained; may need help when performing a task/skill)</p>
                            <p>Respects project/program goals, participants' roles, and the importance of project management principles. Participates in project support activities (i.e. gathering needed information). Participates with others in small and well defined components of the project/program.</p>
                        </div>
                    </section>
                </td>
            </tr>
            <tr>
                <th style="background-color:#f2f2f2">BEHAVIOURAL ELEMENTS</th>
                <th class="text-center" style="background-color:#f2f2f2">LEVEL</th>
            </tr>
            <tr>
                <td>Demonstrating Integrity and Respect</td>
                <td class="text-center">2</td>
            </tr>
            <tr>
                <td>Thinking Things Through</td>
                <td class="text-center">2</td>
            </tr>
            <tr>
                <td>Working Effectively With Others</td>
                <td class="text-center">2</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-12 mrgn-bttm-md">
            <nav role="navigation" class="mrgn-bttm-lg">

                <h2 class="wb-inv">Document navigation</h2>

                <ul class="pager">
                    <li class="previous"><a href="Current_Position" rel="prev">Previous</a></li>
                    <li class="next"><a href="Competency_Position_Search" rel="next">Next</a></li>
                </ul>

            </nav>
        </div>
    </div>

</div>
