@page
@model Web.Pages.Mockups.splash1Model
@{
}

<main property="mainContentOfPage">
    <h1 property="name" id="wb-cont">Career Competency Tool</h1>
    <p class="mrgn-bttm-lg">Short description of the campaign.</p>
    <img src="~/img/CCGMember/CCGbanner.jpg" class="img-responsive cmpgn-img" alt="">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 cmpgn-sctns">

            <ul class="list-unstyled row text-center wb-eqht wb-init wb-eqht-inited" id="wb-auto-4">
                <li class="col-sm-4" style="vertical-align: top; min-height: 254px;">
                    <a href="#s1" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-3">
                                <img src="~/img/CCG-employee.png" class="img-responsive center-block" alt="">
                            </div>
                            <div class="col-sm-12 col-xs-9">
                                <p class="mrgn-bttm-0"><strong class="h4">[Heading 1]</strong></p>
                                <p class="sctn-desc">[Brief description]</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4" style="vertical-align: top; min-height: 254px;">
                    <a href="#s2" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-3">
                                <img src="~/img/external candidates.png" class="img-responsive center-block" alt="">
                            </div>
                            <div class="col-sm-12 col-xs-9">
                                <p class="mrgn-bttm-0"><strong class="h4">[Heading 2]</strong></p>
                                <p class="sctn-desc">[Brief description]</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-sm-4" style="vertical-align: top; min-height: 254px;">
                    <a href="#s3" class="btn btn-default btn-block well hght-inhrt">
                        <div class="row">
                            <div class="col-sm-12 col-xs-3">
                                <img src="~/img/Students.png" class="img-responsive center-block" alt="">
                            </div>
                            <div class="col-sm-12 col-xs-9">
                                <p class="mrgn-bttm-0"><strong class="h4">[Heading 3]</strong></p>
                                <p class="sctn-desc">[Brief description]</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
