@page
@model Admin.Pages.Similar.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Similar Positions</h1>


<p>
    <label name="Filter" class="control-label"><b>Filter</b></label>
    <input name="Filter" class="form-control" />
</p>

<table class="table">
    <thead>
        <tr>
            <th width="42%"><b>Title English</b></th>
            <th width="42%"><b>Title French</b></th>
            <th width="16%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobPositions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleFre)
            </td>
            @if (Model.SimilarSearchIds.Contains(item.JobTitleId))
            {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.JobTitleId">Edit</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-page="./Create" asp-route-id="@item.JobTitleId">Create</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

